DATABASE_URL=postgresql://neuronode:<password>@<rds-endpoint>:5432/neuronode
S3_BUCKET=neuronode-ehr-711962920328
DYNAMODB_TABLE=neuronode_pubmed_cache
AWS_DEFAULT_REGION=us-east-2
OPENSEARCH_HOST=<opensearch-vpc-endpoint>
OPENSEARCH_USER=<opensearch-username>
OPENSEARCH_PASS=<opensearch-password>
